h1 {
    text-align: center;
}

.legendTitle {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.listMessage{
    margin-bottom: 40px;
}
.message {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
}

.technicien {
    text-align: right;
}