<div>
    <div class="first-section">
        <div class="section-first">
            <div class="first-section-left">
                <p>
                    Obtenez notre assistance ici pour tout probleme que vous rencontrez par rapport à notre offre
                </p>
                <div>
                    <input type="text">
                    <a href="#">
                        Rechercher
                    </a>
                </div>
                <span>ou</span>
                <br>
                <a href="" class="contact-button">Nous contacter</a>
            </div>
            <div class="first-section-right">
                <img src="../../../assets/Micros-Gamers87er.png" alt="">
            </div>
        </div>
    </div>
    <div class="second-content">
        <div class="leftContainer">
            <div class="filtres">
                <span class="second-title">Trier par catégorie</span>
                <mat-checkbox [checked]="filterAll">Tous</mat-checkbox>
                <mat-checkbox [checked]="filterMaterials">Matériels</mat-checkbox>
                <mat-checkbox [checked]="filterConnectics">Connectivités</mat-checkbox>
                <mat-checkbox [checked]="filterOthers">Autres</mat-checkbox>
            </div>
            <div class="createTicket">
                Vous ne trouvez pas de réponse à votre probleme ?
                <a [routerLink]="['ticket']" class="writeTicket"> Ecrire une demande.</a>
            </div>
        </div>

        <div class="ticketList">
            <div class="ticket" *ngFor="let ticket of ticketList" [routerLink]="['/ticket', ticket]">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Itaque excepturi odio distinctio beatae nobis, quo nihil, quasi possimus quidem quaerat et
                     blanditiis iusto. Quis sequi autem laborum modi, excepturi repellat?
                    </p>
            </div>
        </div>
    </div>
</div>
