<div>
    <div class="first-section">
        <div class="section-first">
            <div class="first-section-left">
                <p>
                    Obtenez notre assistance ici pour tout probleme que vous rencontrez par rapport à notre offre
                </p>
                <div>
                    <input type="text">
                    <a href="#">
                        Rechercher
                    </a>
                </div>
                <span>ou</span>
                <br>
                <a href="" class="contact-button">Nous contacter</a>
            </div>
            <div class="first-section-right">
                <img src="../../../assets/Micros-Gamers87er.png" alt="">
            </div>
        </div>
    </div>
    <div class="second-content">
        <div class="second-content-1">
            <div>
                <div class="second-sub-content-1">
                    <span class="second-title">Trier par catégorie</span>
                    <label>
                        <input type="checkbox" name="tous" id="all">
                        <span>Tous</span>
                    </label>
                    <label>
                        <input type="checkbox" name="tous" id="all">
                        <span>Matériels</span>
                    </label>
                    <label>
                        <input type="checkbox" name="tous" id="all">
                        <span>Connectivités</span>
                    </label>
                    <label>
                        <input type="checkbox" name="tous" id="all">
                        <span>Autres</span>
                    </label>
                </div>
                <div class="section-1-bottom">
                    <span>Vous ne trouvez pas de réponse à votre probleme ?</span><span><a href="#" style="text-decoration: underline; color: #6d6565;"> Ecrire une demande.</a></span>
                </div>
            </div>
            
        </div>
        <div style="flex: 0.7;"></div>
        <div class="second-content-2">
            <div class="search-result-1">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Itaque excepturi odio distinctio beatae nobis, quo nihil, quasi possimus quidem quaerat et
                     blanditiis iusto. Quis sequi autem laborum modi, excepturi repellat?
                    </p>
            </div>
            <div class="search-result-2">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Itaque excepturi odio distinctio beatae nobis, quo nihil, quasi possimus quidem quaerat et
                     blanditiis iusto. Quis sequi autem laborum modi, excepturi repellat?
                    </p>
            </div>
            <div class="search-result-1">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Itaque excepturi odio distinctio beatae nobis, quo nihil, quasi possimus quidem quaerat et
                     blanditiis iusto. Quis sequi autem laborum modi, excepturi repellat?
                    </p>
            </div>
            <div class="search-result-2">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Itaque excepturi odio distinctio beatae nobis, quo nihil, quasi possimus quidem quaerat et
                     blanditiis iusto. Quis sequi autem laborum modi, excepturi repellat?
                    </p>
            </div>
        </div>
    </div>
</div>
